mat-card{
  background-color: white;
  width: 70%;
  height: 30vh;
  display: block;
  margin-left: 25%;
  padding-top: 2%;
  margin-top: 2%;
}

button{
  color: white;
  border: inherit;
  width: 15%;
  height: 30px;
  display: inline-block;
  margin-left: 2%;
  border-radius: 2%;
  background-color: #27a9e1ad;
}

i {
  color: #82ccd5;
  font-size: 18px;
  margin-right: 2%;
}

textarea{
  background-color: #82ccd5;
  resize: none;
  width: 100%;
  height: 50%;
}

img{
  height: 8vh;
  width: auto;
}

.message {
  overflow: auto;
  border: 1px solid #82ccd5;
  width: 100%;
}

.message p{
  display: inline;
}

@media(max-width: 750px){
  mat-card{
    width: 80%;
    display: block;
    margin: 10%;
    padding-top: 2%;
  }
} 