<app-home-page></app-home-page>
<section>
  <mat-card>
    <app-imput-post></app-imput-post>
  </mat-card>

  <mat-card *ngFor="let post of posts">
    <h4>{{post.username}}: </h4>&nbsp;&nbsp;{{post.message}} <br>
    <div (click)="remove(post)">
      <i class="fas fa-trash-alt"></i>
    </div> &nbsp;&nbsp;
    <div (click)="edit(post)">
      <i class="fas fa-marker"></i>
    </div>&nbsp;&nbsp;
    <div (click)="count(post)">
    <i id="like" class="fas fa-heartbeat">&nbsp;&nbsp;{{post.likes}}</i>
  </div>
  </mat-card>
</section>