<app-home-page></app-home-page>

<nav>
  <h4>CONSEJO DE CURSO</h4>
</nav>
<section>
  <mat-card>
    <main> Consejo de Curso 26 de Septiembre </main>
    <p>Actividad de reflexión con respecto al funcionamiento actual del Consejo de Curso, favoreciendo la cohesión del grupo.</p>
    <img src="../../assets/img/estudiantes.jpeg" alt="" srcset="">
  </mat-card>

  <mat-card>
    <main> Consejo de Curso 3 de Octubre </main>
    <p>Implementación de ConectApp Alumnos, para la mejora de nuestra comunicación y convivencia.
      <br>
      <strong>¡Gracias ConectApp Alumnos!</strong>
    </p>
    <img src="../../assets/img/risa-de-amigos-mirando-el-telefono-inteligente-en-el-parque_23-2147845770.jpg" alt="" srcset="">
  </mat-card>

  <mat-card>
    <main> Consejo de Curso 10 de Octubre </main>
    <p>Confirmación de pruebas y trabajos para finalización de semestre.</p>
    <img src="../../assets/img/prueba.jpg" alt="" srcset="">
  </mat-card>
</section>

<mat-card *ngFor="let post of post">
    {{post.post}} - {{post.id}}
    <div (click)="remove(item)">
      <i class="fas fa-trash-alt"></i>
    </div>
    <div (click)="edit(item)">
      <i class="fas fa-marker"></i>
      <button (clicl)='agregarPostEditado()'> ok </button>
    </div>
      <i class="fas fa-heartbeat"></i>

</mat-card>

