section{
  background-color: #fafafa;
  height: 100vh;
  text-align: center;
  background-image: none;
}

img{
  margin-top: 7%;
  width: 14%;
  margin-bottom: 20px;
}

hr{
  width: 600px;
  color: #8a8888;
}