textarea{
  background-color: #82ccd5;
  resize: none;
  width: 100%;
  height: 15vh;
  opacity: 0.8;
  font-weight: 500;
}
button{
  color: white;
  border: inherit;
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2%;
  background-color: #27a9e1ad;
}

button:hover {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

mat-card{
  background-color: white;
  width: 70%;
  height: 20vh;
  display: block;
  margin-left: 25%;
  padding-top: 5%;
  margin-top: 3%;
}