<form [formGroup]="authForm" *ngIf="!(authService.user | async)">
  <section>
    <input type="email" placeholder="Email" formControlName="email">
    <span>
      <i class="far fa-envelope"></i>
    </span>
    <br>
    <input type="password" placeholder="Contraseña" formControlName="password">
    <span>
      <i class="fas fa-lock"></i>
    </span>
  </section>
  <section>
    <button type="button" (click)="onLogin()" id="startSesion">
      <span>Iniciar Sesión</span>
      <i class="fas fa-angle-double-right"></i>
    </button>
  </section>
  <section>
    <p id="notReg">¿Aún no estás registrado?</p>
    <button routerLink="/registro" type="button" id="registerButton">
      REGÍSTRATE
    </button>
  </section>
</form>