input{
  justify-content: center;
  width: 40%;
  background-color: #27a9e17e;
  width: 40%;
  border: none;
  margin-bottom: 1%;
  border-radius: 0.35rem;
  padding: 0.55rem .75rem;
  font-size: 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: text;
}

.startSesion {
  justify-content: center;
  border: none;
  border-radius: 2rem;
  background-color: #82CCD5;
  color: #333333;
  width: 70%;
  height: 5vh;
  display: inline-block;
  margin: 15px;
}

.startSesion:hover {
  border: none;
  background-color: rgb(176, 201, 204);
  color: white;
}
.registerButton{
  background-color: inherit;
  color:#82CCD5;
  display: inline-block;
  border: none;
}
p {
  display: inline-block;
  color: #6b6868;
}

.registerButton:hover {
  color: rgb(176, 201, 204);
}

@media(max-width: 750px){
 form {
   width: 100%;
 } 
 input {
   width: 70%;
 }
 p {
   display: block;
 }
}