
form {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  resize: none;
}

textarea {
  padding: 2%;
  margin-top: 2%;
  height: 10vh;
  border-radius: 25px;
  border: 2px solid #82CCD5;
  box-sizing: border-box;
  width: 70%;
  outline-width: 0;
  color: gray;
  resize: none;
}

button {
  width: 18%;
  margin: 2%;
  position: absolute;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #82CCD5;
  color: #82ccd5;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  z-index: 2;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: #82ccd5;
}

i {
  font-size: 15px;
  display: inline-block;
  line-height: 48px;
}