mat-card{
  background-color: white;
  width: 68%;
  height: 45vh;
  display: block;
  margin-left: 29%;
  margin-top: 5%;
  text-align: center;
}
main{
  background-color: #82ccd5;
  padding: 4%;
  width: 100%;
  margin-bottom: 4%;
  display: block;
  font-size: 20px;
}

p{
  color: rgb(80, 79, 79);
  display: block;
}
img{
  height: 13vh;
}
em{
  display: block;
  color: #82ccd5;
}
@media(max-width: 750px){
  mat-card{
    width: 80%;
    display: block;
    margin: 10%;
    padding-top: 5%;
  }
}