<app-home-page></app-home-page>

<section>
<mat-card>
  <main> Viaje de fin de año </main>
  <img src="../../assets/img/verano.png" alt="Imagen de niña bebiendo jugo" srcset="">
  <p>Viaje de curso a Cartagena de Indias o Quintero.</p>
  <em>Fecha: 5-8 de Diciembre</em>
</mat-card>

<mat-card>
  <main> Fiesta de fin de año </main>
  <img src="../../assets/img/LogoMakr_1kqmyT.png" alt="Imagen de cono de festejos" srcset="">
  <p>Fiesta Fin de termino año escolar.</p>
  <em>Fecha: 3 de Diciembre</em>
</mat-card>

<mat-card>
  <main> Feria de Ciencias </main>
  <img src="../../assets/img/ciencias.png" alt="Imagen de átomo" srcset="">
  <p>Feria Interescolar de Ciencias.</p>
  <em>Fecha: 14 de Noviembre</em>
</mat-card>

<mat-card>
  <main> Competencia de Artes </main>
  <img src="../../assets/img/artes.png" alt="Imagen de grulla de origami" srcset="">
  <p>Competencia de Artes. Premio 1 millón de pesos + entrevista esclusiva en revista Condorito.</p>
  <em>Fecha: 10 de Octubre</em>
</mat-card>
</section>