#facebook{
  background-color: blue;
  color: white;
  border: inherit;
  width: 20%;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2%;
}
#google{
  background-color: red;
  color: white;
  border: inherit;
  width: 20%;
  height: 30px;
  display: inline-block;
  border-radius: 2%;
}