i{
  border: inherit;
  background-color: inherit;
  color: gray;
}
i:hover,
button:hover {
  border: inherit;
  background-color: inherit;
  color: rgb(44, 44, 44);
}
button{
  border: inherit;
  background-color: inherit;
  color: gray;
}

.banner{
  height: 17vh;
  text-align: center;
  margin-left: 26%;
  margin-top: 12%;
  opacity: 0.5;
}

mat-sidenav {
  width: 40vh;
  position: fixed;
  background-color: #ffff;
}

.circle {
  border-radius: 50%;
  margin: 0%;
  width: 12vh;
}

.with-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.no-shadow {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-left: 100px !important;
}

.header-box-shadow {
  text-align: center;
  background-color: #82ccd5;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.header-box-shadow img {
  height: 7vh;
  margin: 0% 40%;
}

.bottom-to-top {
  border: 0px;
  border-right: 1px;
  border-style: solid;
  border-image:
  linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
}

mat-sidenav{
  background-color: white;
}

p{
  width: 100%;
  font-size: 14px;
  font-weight: 200;
}


