i{
  border: inherit;
  background-color: inherit;
  color: gray;
}
i:hover{
  border: inherit;
  background-color: inherit;
  color: rgb(80, 79, 79);
}
button{
  border: inherit;
  background-color: inherit;
  color: gray;
}
button:hover{
  border: inherit;
  background-color: inherit;
  color: rgb(80, 79, 79);
}

mat-sidenav-container {
  width:25%;
  height: 100vh;
  background-color: white;
  position: fixed;
}
nav {
  width: 75%;
  height: 10vh;
  background-color: #82ccd5;
  z-index: 2;
  position: fixed;
  right: 0px;
  top: 0;
  text-align: center;
  box-shadow: 0px 2px 14px -3px rgba(105, 105, 105, 1);
}
img{
  height: 17vh;
  text-align: center;
  margin-left: 26%;
  margin-top: 12%;
  opacity: 0.5;
}
