<mat-sidenav-container>
  <i class="fas fa-users"></i>
  <button type="button" routerLink= '/diarioMural'>DIARIO MURAL</button>
  <br>
  <i class="far fa-star"></i>
  <button type="button" routerLink= '/Actividades'>ACTIVIDADES</button>
  <br>
  <i class="fas fa-users"></i>
  <button type="button" routerLink= '/Consejo_curso'>CONSEJO DE CURSO</button>
  <br>
  <i class="far fa-comments"></i>
  <button type="button" routerLink= '/Chat'>CHAT</button>
  <br>
  <i class="fas fa-user-graduate"></i>
  <button type="button" routerLink='/Perfil'>PERFIL</button>
  <br>
  <i class="fas fa-arrow-circle-left"></i>
  <button type="button" (click)="onLogout()">LOGOUT</button>
</mat-sidenav-container>

<section>

</section>

<nav>
  <img src="../../assets/img/conectapp.png" alt="logo conectapp">
</nav>